$baseFontSize: 16px;

body {
  padding-top: 60px;
}

@import 'bootstrap';
@import "bootstrap-responsive";

h1 {
  padding: 15px 0;
}
label {
  display: inline-block;
  line-height: 40px;
  position: relative;
  top: -5px;
  width: 100px;
}
input[type=submit] {
  margin-left: 110px;
}
.listing td, .listing th {
  border: 1px #ddd solid;
  padding: 8px;
}
.listing th {
  background-color: #eee;
}
.done {
  color: #aaa;
  background-color:#f3f3f3;
}
.move_up, .move_down {
  background: url('/images/down_icon.png') 4px 5px no-repeat;
  padding: 20px 0 0 20px;
  overflow: hidden;
  width: 0;
  height: 0;
  display: block;
}
.move_up {
  background-image: url('/images/up_icon.png');
}
.task-status {
  text-align: center;
}
.btn-primary, .btn {
  padding: 7px 10px;
}
.task-list {
  width: 320px;
  height: 200px;
}
footer p {
  color: #888;
  line-height: 31px;
  margin-top: -10px;
  font-size: 12px;
}
footer p img {
  position: relative;
  top: +10px;
  margin-right: 15px;
}
